@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Lato&family=Noto+Sans+JP&family=Poppins&family=Roboto:wght@300&family=Ubuntu&display=swap');
*{
    box-sizing: border-box;
}
html{
    font-family: 'Noto Sans JP', sans-serif;
}
body{
    margin: 0;
}
